<nav class="uk-navbar-container uk-margin" uk-navbar>
	<div class="uk-navbar-center">
		<a class="uk-navbar-item uk-logo" href="#">
			<span uk-icon="bolt"></span>
		</a>
		<ul class="uk-navbar-nav">
			<li>
				<a href="/">Main</a>
			</li>
			<li>
				<a href="/playground">Playground</a>
			</li>
		</ul>
	</div>
</nav>