<!DOCTYPE html>
<html lang="en">
	{% include 'parts/head.tmpl' %}
	<body>
		{% include 'parts/navbar.tmpl' %}
		{% include 'parts/main/promo.tmpl' %}
		<div class="uk-container">
			<br/>
			<h3 id="introduction">Project Description</h3>
			<p>This solution allows you to create your site in the Utopia ecosystem with the possibility of using UtopiaAPI.<br/>You can work with channels, users, Crypton currency and other Utopia client features through your web application.</p>
			
			<h3 id="installation">Installation</h3>
			<p>
				<span class="github-btn">
					<a class="github-button" href="https://github.com/Brillok/utopia-webtemplate/fork" data-icon="octicon-repo-forked" aria-label="Fork Brillok/utopia-webtemplate on GitHub">Fork</a>
				</span>
				<span>it on Github or</span>
				<span class="github-btn">
					<a class="github-button" href="https://github.com/Brillok/utopia-webtemplate/archive/master.zip" data-icon="octicon-cloud-download" aria-label="Download Brillok/utopia-webtemplate on GitHub">Download</a>
				</span>
				<span>this repository.</span>
			</p>
			
			<h3 id="examples">Examples</h3>
			<p>Examples are available on the <a href="/playground" aria-label="visit playground page">Playground page.</a></p>
			
			<h3 id="author">Author</h3>
			<p>My name is Brillok. You can see my other repositories <a href="https://github.com/Brillok" target="_blank">on github</a>.<br/>
				<span>If you liked my project, rate it:</span>
				<span class="github-btn">
					<a class="github-button" href="https://github.com/Brillok/utopia-webtemplate" data-icon="octicon-star" aria-label="Star Brillok/utopia-webtemplate on GitHub">Star</a>
				<span>
			</p>
		</div>
		<hr class="uk-divider-icon"/>
		
		{% include 'parts/footer.tmpl' %}
		{% include 'parts/scripts.tmpl' %}
	</body>
</html>
